.layout {
  background-color: #fdf9c3;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 9vh 35px 0;
}

.name {
  font-size: 38px;
  line-height: 1.29;
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.withPaddings {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

.subtitle.withPaddings {
  margin-bottom: 30px;
}

.section {
  margin-top: 5vh;
  font-size: 20px;
  line-height: 2rem;
}

.websiteLink {
  font-size: 20px;
  word-break: break-all;
}

.arrowIcon {
  margin-bottom: 5vh;
}

.map {
  height: 400px;
  width: 100%;
}

.popup {
  background: #fff;
  padding: 20px;
  color: #000;
}

.bioBtn {
  border: 0px;
  border-radius: 0;
  appearance: none;
  background-color: #fdf9c3;
  display: block;
  text-align: left;
  font-size: 22px;
  width: 100%;
  padding: 0;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
}

.minus, .plus {
  font-size: 30px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.logo {
  max-width: 150px;
  margin-top: 3vh;
}

.bio {
  overflow: hidden;
}

.bioText {
  transition: max-height 0.5s ease-in-out;
  font-size: 18px;
}

.bioText p {
  padding-top: 15px;
}

.expand .bioText {
  max-height: 10000px;
}

.collapse .bioText {
  max-height: 0px;
}

.programma p {
  padding-top: 15px;
  font-size: 18px;
}

.slide {
  flex-direction: column;
  flex-flow: column;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 0;
  width: 100%;
}

.allegati {
  margin-top: 50px;
}

.doc {
  padding: 7px 0;
}

.events {
  padding-top: 30px;
}

.events h3 {
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 39px;
  line-height: 80px;
}

.date {
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  font-size: 39px;
  line-height: 80px;
  margin-top: 20px;
}

.eventName {
  line-height: 29px;
  font-size: 20px;
  border-bottom: 2px solid;
  padding: 20px 0 30px;
}

.eventTime {
  padding-top: 5px;
  font-size: 16px;
}

.eventName:last-of-type {
  border-bottom: 3px solid;
}
