.layout {
  background-color: #fdf9c3;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 9vh 5% 0;
}

.name {
  font-size: 38px;
  line-height: 1.29;
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.withPaddings {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.subtitle.withPaddings {
  margin-bottom: 20px;
}

.section {
  margin-top: 5vh;
  font-size: 20px;
  line-height: 2rem;
}

.websiteLink {
  font-size: 20px;
}

.arrowIcon {
  margin-bottom: 5vh;
}

.map {
  height: 400px;
  width: 100%;
}

.popup {
  background: #fff;
  padding: 20px;
  color: #000;
}

.bioBtn {
  border: 0px;
  border-radius: 0;
  appearance: none;
  background-color: #fdf9c3;
  display: block;
  text-align: left;
  font-size: 22px;
  width: 100%;
  padding: 0;
  border-bottom: 2px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minus, .plus {
  font-size: 30px;
}