.section {
  min-height: 100%;
  min-height: 100vh;
}

.coverbg {
  background-position: right 50px, center 0px, center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-aspect-ratio: 3/3) {
  .coverbg {
    background-color: #7fddf9;
    background-position: left bottom, center bottom, left top;
    background-size: contain;
  }
}

.blueBg {
  background-color: #82e0fb;
}

.greenBg {
  background-color: #67d39b;
}

.pinkBg {
  background-color: #fdcbc3;
}

.content {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 9vh 35px 10vh;
}

.content.fullwidth {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.content.fullwidth .head {
  max-width: 960px;
  margin: 0 auto 40px;
  padding: 0 35px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6vh;
}

@media (min-aspect-ratio: 3/3) {
  .head {
    margin-bottom: 9vh;
  }
}

.logoSub {
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

.mainTextBig {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.17;
}

.mainTextDefault {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.55;
}

.mainTextMedium {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
}

.date {
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  font-size: 57px;
  margin-top: -11px;
  text-align: center;
}

.subDate {
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-top: -7px;
}

.subtitle {
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  font-size: 43px;
  font-weight: bold;
  border-bottom: 3px solid;
}

.mailbox {
  background: #000;
  max-width: 300px;
  color: #fff;
  padding: 5px 12px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.68;
  margin: 20px 0;
}

.link,
.link:active {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
  color: #000;
  text-decoration: none;
}

.notFoundText {
  padding-top: 50px;
}

.backHomeLink {
  text-decoration: none;
}

.backHome {
  margin-top: 100px;
}

.arrowIcon {
  width: 44px;
}

.eventsDate {
  text-align: center;
  font-size: 43px;
  font-family: "Averia Serif Libre", Arial, Helvetica, sans-serif;
  margin: 30px 0 0;
}

.eventsList {
  padding: 10px 0;
}

.eventWrapper {
 border-bottom: 2px solid #000;
 padding: 40px 0 30px;
}

.eventWrapper:last-of-type {
  border: 0px;
}

.eventName {
  font-size: 20px;
  text-decoration: underline;
  padding-bottom: 15px;
  line-height: 29px;
}

.eventGalleryName {
  font-size: 18px;
  line-height: 27px;
}
