.footer {
  background: #000;
  color: #fff;
}

.content {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 5vh 35px 5vh;
  font-size: 23px;
  line-height: 1.43;
}

.notice {
  margin-top: 20px;
}