.footer {
  background: #000;
  color: #fff;
}

.content {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px 35px 5vh;
  font-size: 23px;
  line-height: 1.43;
}

.content p {
  padding-top: 5vh;
  font-size: 20px;
}

.notice {
  margin-top: 5vh;
  font-size: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid;
}

.footer .miaLogo {
  border: 0px;
}

.miaLogo img {
  width: 150px;
  margin-top: 5vh;
  filter: grayscale(1) invert(1);
  display: block;
}
