body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: #000;
}

#newsletter-error a {
  display: inline-block;
}

.custom-popup .leaflet-popup-tip {
  display: none;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #fdcbc3;
  color: #000;
  border-radius: 0px;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  white-space: break-spaces;
  font-size: 13px;
}

.leaflet-container .custom-popup a.leaflet-popup-close-button {
  color: #000;
  top: 4px;
  right: 4px;

}

.leaflet-container .custom-popup .link {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid;
}

#events-list {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
}

#events-list button.control-prev {
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2Mi4xOCIgaGVpZ2h0PSI1Mi4zNjUiIHZpZXdCb3g9IjAgMCA2Mi4xOCA1Mi4zNjUiPgogICAgPHBhdGggZD0iTTI4LjE1OCA1Mi4zNjVsNC4zNjgtNC42ODktMTkuNjc1LTE4LjI4OUg2Mi4xOHYtNi40SDEyLjgzOWwxOS42ODctMTguMy00LjM2OC00LjY4OUwwIDI2LjE3OHoiIGRhdGEtbmFtZT0iUGF0aCA2Ii8+Cjwvc3ZnPgo=);
  background-size: contain;
  border: 0px;
  width: 43px;
  height: 37px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#events-list button.control-next {
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2Mi4xOCIgaGVpZ2h0PSI1Mi4zNjUiIHZpZXdCb3g9IjAgMCA2Mi4xOCA1Mi4zNjUiPgogICAgPHBhdGggZD0iTTI4LjE1OCA1Mi4zNjVsNC4zNjgtNC42ODktMTkuNjc1LTE4LjI4OUg2Mi4xOHYtNi40SDEyLjgzOWwxOS42ODctMTguMy00LjM2OC00LjY4OUwwIDI2LjE3OHoiIGRhdGEtbmFtZT0iUGF0aCA2Ii8+Cjwvc3ZnPgo=);
  background-size: contain;
  border: 0px;
  width: 43px;
  height: 37px;
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

#events-list .slider {
  display: flex;
}

#events-list .slide {
  flex-direction: column;
  flex-flow: column;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 0;
}

#events-list .carousel-root {
  outline: none;
}

.carousel-status, .control-dots {
  display: none;
}
